<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label for="c-list_id" class="control-label col-xs-12 col-sm-2">科目名称:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-list_id" data-rule="required" data-source="list/index" class="form-control" type="text" value="{$list_name}" readonly>
            <input type="hidden" name="row[list_id]" value="{$list_id}"/>
        </div>
    </div>
    <div class="form-group">
        <label for="c-type_id" class="control-label col-xs-12 col-sm-2">警种名称:</label>
        <div class="col-xs-12 col-sm-8">
            <!-- <input id="c-type_id" data-rule="required" data-source="type/index" class="form-control selectpage" name="row[type_id]" type="text" value="{$row.type_id}"> -->
            {:build_select('row[type_id]', $police_list, $police_id, ['class'=>'form-control selectpicker', 'data-rule'=>'required'])}
        </div>
    </div>
    <div class="form-group">
        <label for="c-qualification" class="control-label col-xs-12 col-sm-2">{:__('Qualification')}:</label>
        <div class="col-xs-12 col-sm-2">
            <input id="c-qualification" class="form-control" name="row[qualification_start]" type="text" value="{$row.qualification_start}">
        </div>
        <span style="float:left;height:1px;width:5px;background-color: #333;margin-top:15px"></span>
        <div class="col-xs-12 col-sm-2">
            <input id="c-qualification" class="form-control" name="row[qualification_end]" type="text" value="{$row.qualification_end}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-excellent" class="control-label col-xs-12 col-sm-2">{:__('Excellent')}:</label>
        <div class="col-xs-12 col-sm-2">
            <input id="c-excellent" class="form-control" name="row[excellent_start]" type="text" value="{$row.excellent_start}">
        </div>
        <span style="float:left;height:1px;width:5px;background-color: #333;margin-top:15px"></span>
        <div class="col-xs-12 col-sm-2">
            <input id="c-excellent" class="form-control" name="row[excellent_end]" type="text" value="{$row.excellent_end}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-status" class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[status]', ['1'=>'发布', '0'=>'未发布'], $row['status'])}
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
